* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;    
    overflow-x: hidden;
}

header {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    background-image: url(../images/Layer\ 1\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100vw 600px;
    position: relative;
}

.triangle-1 {
    width: 0;
    height: 0;
    position: absolute;
    top: 525px;
    right: 0px;
    border-style: solid;
    border-width: 0 0 75px 50vw;
    border-color: transparent transparent #ffffff transparent;
    
}
.triangle-2 {
    width: 0;
    height: 0;
    top: 525px;
    left: 0px;
    position: absolute;
    border-style: solid;
    border-width: 75px 0 0 50vw;
    border-color: transparent transparent transparent #ffffff;
}
.nav {
    height: 113px;
    width: 100vw;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    position: relative;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #424F57;
}

.logo>span {
    font-weight: 900;
    color: #14AFCA;
}

.header-menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #3E4C4E;
}

.header-menu a:hover {
    color: #14AFCA;
}

.banner {
    width: 100vw; 
    height: 400px;
    font-size: 52px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 70px;
    width: 1000px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.first-page {
    text-align: center;
    width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;  
    padding-bottom: 90px;
}

.first-page>p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
}

.first-page>p:nth-child(2)  {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #424F57;

}

.first-page>p:nth-child(4) {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.companies {
    width: 100vw;
    height: 900px;
    background: url(../images/Rectangle\ 20\ copy\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100vw 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    
}

.triangle-3 {
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    border-style: solid;
    border-width: 135px 50vw 0 50vw;
    border-color: #ffffff transparent transparent transparent;
}

.companies>p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    padding-top: 40px;
}

.companies>p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.company-blocks {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px; 
    grid-template-rows: 250px 250px;  
    gap: 0px;
    content: center; 
}

.company-blocks .item-1 {
    background-image: url(../images/Layer\ 78\ copy\ 2\ 1.png); 
    background-repeat: no-repeat;
    background-position: center
}

.company-blocks .item-2 {
    background-image: url(../images/Rectangle\ 17\ \(1\).png); 
    background-repeat: no-repeat;
    background-position: center
}

.company-blocks .item-3 {
    background-image: url(../images/Layer\ 81\ copy\ 2.png); 
    background-repeat: no-repeat;
    background-position: center
}

.company-blocks .item-4 {
    background-image: url(../images/Layer\ 77\ 1.png); 
    background-repeat: no-repeat;
    background-position: center
}

.company-blocks .item-5 {
    background-image: url(../images/Layer\ 83\ 1.png); 
    background-repeat: no-repeat;
    background-position: center
}

.company-blocks .item-6 {
    background-image: url(../images/Layer\ 81\ copy\ 2.png); 
    background-repeat: no-repeat;
    background-position: center
}

.company-blocks .item-7 {
    background-image: url(../images/Layer\ 8\ 4.png); 
    background-repeat: no-repeat;
    background-position: center
}

.company-blocks .item-8 {
    background-image: url(../images/Layer\ 82\ 1.png); 
    background-repeat: no-repeat;
    background-position: center
}

.second-page {
    text-align: center;
}

.second-page>p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    padding-top: 120px;
}

.second-page>p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #424F57;
    padding-bottom: 50px;
}


.contact-blocks {
    display: grid; 
    grid-template-columns: 300px 300px 300px; 
    grid-template-rows: 220px 150px; 
    gap: 0px 60px; 
    justify-content: center; 
    justify-items: center; 
}

.contact-blocks p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;

}

.testimonials {
    width: 100vw;
    height: 715px;
    background: url(../images/rectangle.png);
    background-repeat: no-repeat;
    background-size: 100vw 650px;
    position: relative;
}

.triangle-4 {
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    border-style: solid;
    border-width: 95px 50vw 0 50vw;
    border-color: #ffffff transparent transparent transparent;
}

.testimonials>p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    padding-top: 220px;

}

.testimonials>p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.testimonials>p:nth-child(4) {
    margin: 0 auto;
    width: 910px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #D3CCCC;
}

.testimonials>p:nth-child(5) {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 650px;
}

.triangle-4 {
    width: 0;
    height: 0;
    position: absolute;
    top: 560px;
    right: 0px;
    border-style: solid;
    border-width: 0 0 95px 50vw;
    border-color: transparent transparent #ffffff transparent;
    
}
.triangle-5 {
    width: 0;
    height: 0;
    top: 560px;
    left: 0px;
    position: absolute;
    border-style: solid;
    border-width: 95px 0 0 50vw;
    border-color: transparent transparent transparent #ffffff;
}

.third-page {
    text-align: center;
}

.third-page>p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    padding-top: 40px;

}

.third-page>p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #424F57;
    padding-bottom: 20px;
}


.third-page>p:nth-child(3) {
    margin: 0 auto;
    width: 815px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #424F57;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer {
    margin: 100px 0px ;
    text-align: center;
    
}
footer p {
    width: 416px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

footer span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
